.container {
  max-width: $website-width;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

//Padding
.py {
  &-1 {
    padding: 1rem 0 !important;
  }
  &-2 {
    padding: 2rem 0 !important;
  }
  &-3 {
    padding: 3rem 0 !important;
  }
  &-4 {
    padding: 4rem 0 !important;
  }
  &-5 {
    padding: 5rem 0 !important;
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0 !important;
  }
  &-2 {
    margin: 2rem 0 !important;
  }
  &-3 {
    margin: 3rem 0 !important;
  }
  &-4 {
    margin: 4rem 0 !important;
  }
}

//Buttons
.btn-add {
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none !important;
  box-shadow: none;
  font-style: normal;
  font-weight: normal;
  border: 0;
  text-align: center;
  color: #fff;
  background-color: #aa21ed;
  font-size: 12px;
  line-height: 15px;
  padding: 0.5rem 1rem;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  box-shadow: none;
  outline: none;
  z-index: 0;
}

button[class^='btn-']:focus,
a[class^='btn-']:focus,
input[class^='btn-']:focus {
  box-shadow: none;
  outline: none;
}
